$theme-colors: (
    'primary': #F6416C,
    'secondary': #00B8A9,
    'warning': #f8f3d4,
    // 'info': teal,
    // 'danger': tomato
);
// import bootstrap library 
@import '~bootstrap/scss/bootstrap';
body{
    font-family: 'Open Sans', sans-serif!important;
}
.vh-body 
{
    height: calc(100vh - 140px);
}

/******** page card divider css *************/
.divider-bg { 
    left: -28px;
}
::-webkit-input-placeholder { 
    color: #7e7e7e !important;
    font-style: italic!important;
  }
  
  :-ms-input-placeholder {
    color: #7e7e7e !important;
    font-style: italic!important;
  }
  
  ::placeholder {
    color: #7e7e7e !important;
    font-style: italic!important;
  }
  @media(max-width:1024px)
  {
    .l-side
    {
        position:absolute;
        background: #000;
        opacity:0.4;
    }
    .divider-bg { 
        display:none;
    }
    .s-img
    {
        opacity:0.4;
        width:100%;
    }
    .l-side-text{
        width:100%;

    }
    .f-banner-box
    {
      position: relative!important; 
    }
    .forgot-link
    {
        display: contents;
    }
   
  }

.form-control:focus {
    border-color: #f8f3d4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(248,243,212);
}
