$theme-colors: (
    'primary': #F6416C,
    'secondary': #00B8A9,
    // 'info': teal,
    // 'danger': tomato
);
// import bootstrap library 
@import '~bootstrap/scss/bootstrap';
body{
    font-family: 'Open Sans', sans-serif!important;
}

/******** page card divider css *************/
.divider-bg { 
    left: -28px;
}
::-webkit-input-placeholder { 
    color: #7e7e7e !important;
    font-style: italic!important;
  }
  
  :-ms-input-placeholder {
    color: #7e7e7e !important;
    font-style: italic!important;
  }
  
  ::placeholder {
    color: #7e7e7e !important;
    font-style: italic!important;
  }